# Vim swap files
*.swp

# Byte-compiled / optimized / DLL files
.cache/*
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
include/
lib/
lib64
node_modules/
typings/
*.egg*
*.cfg
.coverage

# Sphinx docs
build/*

# Installer logs
npm-debug.log
pip-selfcheck.json
