alabaster==0.7.8
Babel==2.9.1
codecov==2.0.5
coverage==4.1
docopt==0.6.2
docutils==0.12
imagesize==0.7.1
Jinja2==2.11.3
MarkupSafe==0.23
neo4j-driver==1.0.2
py==1.10.0
Pygments==2.7.4
pytest==2.9.2
pytest-cov==2.3.0
python-dateutil==2.5.3
pytz==2016.6
requests==2.20.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.5
wheel==0.29.0
